$color1: #036;
$color2: #D56;
$color3: #F00;
$color4: #FFF;

body {
  background: url(asset-path('laptop-background.jpg')) no-repeat;
  background-size: cover;
} 
a {
  color: $color2;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: $color1;
  background: url(asset-path('mcs_web_solutions_cube_butterfly_logo-125x125.png')) no-repeat left center;
  padding-left:130px;
  margin-left:-130px;
  padding-top:30px;
  min-height:120px;
}
h4{color:$color2;}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin{
  background-color: #fff;
  padding: 40px;  
}
hr{
  clear:both;
}
.pin-header,
.pin-header
{
	background: url(asset-path('ruby-logo-thumbnail.png')) no-repeat left top;
	background-image:none;
	padding-left:50px;
	margin-left:-50px;
	background-size: 40px;
}
.pin-header.ruby{background-image:url(asset-path('ruby-logo-thumbnail.png'))}
.pin-header.rails{background-image:url(asset-path('rails-logo-thumbnail.png'))}
.error label{background:$color3;color:$color4;border-radius:3px;}
.error li{color:$color3;}
